[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/root/pdf_create/pdfcreate/pdfcreate
ExecStart=/root/pdf/bin/gunicorn --access-logfile - --workers 3 --bind unix:/root/pdf_create/pdfcreate/pdfcreate.sock pdfcreate.wsgi:application

[Install]
WantedBy=multi-user.target