[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=alex
Group=www-data
WorkingDirectory=/home/alex/pdf_create
ExecStart=/home/alex/pdf_create/pdf_env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/alex/pdf_create/pdfcreate/pdfcreate.sock pdfcreate.wsgi:application

[Install]
WantedBy=multi-user.target